<a href="https://colab.research.google.com/github/bagasap10/COMP6577-MachineLearning/blob/main/FinalML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# POKEDEX

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from pandas.plotting import scatter_matrix
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [12]:
!wget https://raw.githubusercontent.com/andrychowanda/COMP6577/master/pokedex.csv

--2021-07-16 06:48:03--  https://raw.githubusercontent.com/andrychowanda/COMP6577/master/pokedex.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 236904 (231K) [text/plain]
Saving to: ‘pokedex.csv.1’

pokedex.csv.1       100%[===================>] 231.35K  --.-KB/s    in 0.03s

2021-07-16 06:48:03 (8.02 MB/s) - ‘pokedex.csv.1’ saved [236904/236904]

In [13]:
pokedex = pd.read_csv("pokedex.csv")
pokedex

      Unnamed: 0  pokedex_number  ... against_steel against_fairy
0              0               1  ...           1.0           0.5
1              1               2  ...           1.0           0.5
2              2               3  ...           1.0           0.5
3              3               3  ...           1.0           0.5
4              4               4  ...           0.5           0.5
...          ...             ...  ...           ...           ...
1023        1023             888  ...           2.0           1.0
1024        1024             889  ...           0.5           1.0
1025        1025             889  ...           1.0           2.0
1026        1026             890  ...           1.0           1.0
1027        1027             890  ...           1.0           1.0

[1028 rows x 51 columns]

In [14]:
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028 entries, 0 to 1027
Data columns (total 51 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1028 non-null   int64
 1   pokedex_number    1028 non-null   int64
 2   name              1028 non-null   object
 3   german_name       938 non-null    object
 4   japanese_name     938 non-null    object
 5   generation        1028 non-null   int64
 6   status            1028 non-null   object
 7   species           1028 non-null   object
 8   type_number       1028 non-null   int64
 9   type_1            1028 non-null   object
 10  type_2            542 non-null    object
 11  height_m          1028 non-null   float64
 12  weight_kg         1027 non-null   float64
 13  abilities_number  1028 non-null   int64
 14  ability_1         1025 non-null   object
 15  ability_2         513 non-null    object
 16  ability_hidden    810 non-null    object
 17  total_points      1028 non-null   float64
 18  hp                1028 non-null   float64
 19  attack            1028 non-null   float64
 20  defense           1028 non-null   float64
 21  sp_attack         1028 non-null   float64
 22  sp_defense        1028 non-null   float64
 23  speed             1028 non-null   float64
 24  catch_rate        924 non-null    float64
 25  base_friendship   924 non-null    float64
 26  base_experience   924 non-null    float64
 27  growth_rate       1027 non-null   object
 28  egg_type_number   1028 non-null   int64
 29  egg_type_1        1025 non-null   object
 30  egg_type_2        282 non-null    object
 31  percentage_male   792 non-null    float64
 32  egg_cycles        1027 non-null   float64
 33  against_normal    1028 non-null   float64
 34  against_fire      1028 non-null   float64
 35  against_water     1028 non-null   float64
 36  against_electric  1028 non-null   float64
 37  against_grass     1028 non-null   float64
 38  against_ice       1028 non-null   float64
 39  against_fight     1028 non-null   float64
 40  against_poison    1028 non-null   float64
 41  against_ground    1028 non-null   float64
 42  against_flying    1028 non-null   float64
 43  against_psychic   1028 non-null   float64
 44  against_bug       1028 non-null   float64
 45  against_rock      1028 non-null   float64
 46  against_ghost     1028 non-null   float64
 47  against_dragon    1028 non-null   float64
 48  against_dark      1028 non-null   float64
 49  against_steel     1028 non-null   float64
 50  against_fairy     1028 non-null   float64
dtypes: float64(32), int64(6), object(13)
memory usage: 409.7+ KB

In [15]:
pokedex.describe()

        Unnamed: 0  pokedex_number  ...  against_steel  against_fairy
count  1028.000000     1028.000000  ...    1028.000000    1028.000000
mean    513.500000      437.711089  ...       0.980302       1.084874
std     296.902341      259.366480  ...       0.503434       0.527743
min       0.000000        1.000000  ...       0.000000       0.000000
25%     256.750000      213.750000  ...       0.500000       1.000000
50%     513.500000      433.500000  ...       1.000000       1.000000
75%     770.250000      663.250000  ...       1.000000       1.000000
max    1027.000000      890.000000  ...       4.000000       4.000000

[8 rows x 38 columns]

Min Max

In [24]:
stats_column = ['hp','attack','defense','speed','sp_attack','sp_defense']

In [34]:
def find_min_max(column_name):
  min_index = pokedex[column_name].idxmin()
  min_pokemon = pokedex.loc[min_index, 'name']

  max_index = pokedex[column_name].idxmax()
  max_pokemon = pokedex.loc[max_index, 'name']

  print(f'Pokemon with MIN {column_name}: {min_pokemon}\nPokemon with MAX {column_name}: {max_pokemon}\n')
  return min_index, max_index

In [35]:
min_dict = {}
max_dict = {}
min_labels=[]
max_labels=[] 

for stat in stats_column:
  min_index, max_index = find_min_max(stat)
  max_dict[stat] = pokedex.loc[max_index, stat]
  min_dict[stat] = pokedex.loc[min_index, stat]
  max_labels.append(pokedex.loc[max_index, 'name'])
  min_labels.append(pokedex.loc[min_index, 'name'])

Pokemon with MIN hp: Shedinja
Pokemon with MAX hp: Blissey

Pokemon with MIN attack: Chansey
Pokemon with MAX attack: Mega Mewtwo X

Pokemon with MIN defense: Chansey
Pokemon with MAX defense: Eternatus Eternamax

Pokemon with MIN speed: Shuckle
Pokemon with MAX speed: Deoxys Speed Forme

Pokemon with MIN sp_attack: Alolan Sandshrew
Pokemon with MAX sp_attack: Mega Mewtwo Y

Pokemon with MIN sp_defense: Caterpie
Pokemon with MAX sp_defense: Eternatus Eternamax

# Heart Disease

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from pandas.plotting import scatter_matrix
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [ ]:
!wget https://raw.githubusercontent.com/andrychowanda/COMP6577/master/heart.csv

In [ ]:
heart_df = pd.read_csv("heart.csv")
heart_df

In [ ]:
heart_df.info()

In [ ]:
heart_df.describe()

In [ ]:
plt.figure(figsize =(14,14))

sns.heatmap(heart_df.corr(), annot = True)
plt.show()