<a href="https://colab.research.google.com/github/bagasap10/COMP6577-MachineLearning/blob/main/week5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, mean_squared_error, mean_absolute_error
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [3]:
!wget https://raw.githubusercontent.com/andrychowanda/COMP6577/master/listings.csv

--2021-04-01 12:42:28--  https://raw.githubusercontent.com/andrychowanda/COMP6577/master/listings.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164675 (1.1M) [text/plain]
Saving to: ‘listings.csv’

listings.csv        100%[===================>]   1.11M  --.-KB/s    in 0.02s

2021-04-01 12:42:28 (70.2 MB/s) - ‘listings.csv’ saved [1164675/1164675]

In [5]:
listingData = pd.read_csv('listings.csv')
listingData

            id  ... availability_365
0        49091  ...              365
1        50646  ...              365
2        56334  ...              365
3        71609  ...              353
4        71896  ...              355
...        ...  ...              ...
7902  38105126  ...               61
7903  38108273  ...              365
7904  38109336  ...              173
7905  38110493  ...               30
7906  38112762  ...              365

[7907 rows x 16 columns]

In [6]:
for i in listingData:
    print(i, listingData[i].dtypes)
    if(listingData[i].isna().values.any() and listingData[i].dtypes != object):
        listingData[i] =listingData[i].fillna(0)

train, validation = train_test_split(listingData, test_size=0.2,random_state=12368)

id int64
name object
host_id int64
host_name object
neighbourhood_group object
neighbourhood object
latitude float64
longitude float64
room_type object
price int64
minimum_nights int64
number_of_reviews int64
last_review object
reviews_per_month float64
calculated_host_listings_count int64
availability_365 int64

In [7]:
KNN = KNeighborsClassifier(n_neighbors = 3).fit(train[["price","availability_365"]], train["room_type"])

In [8]:
classification = KNN.predict(validation[["price","availability_365"]])
accu = accuracy_score(validation["room_type"],classification)
mae = 1-accu
mse = 1-accu

print("acc = %.2f" % accu)
print("mae = %.2f" % mae)
print("mse = %.2f" % mse)

acc = 0.82
mae = 0.18
mse = 0.18

In [9]:
K = 10
accuracy = np.zeros((K-1))

for n in range(1, K):
    KNN = KNeighborsClassifier(n_neighbors = n).fit(train[["price", "availability_365"]], train["room_type"])  
    classification = KNN.predict(validation[["price", "availability_365"]])
    accu = accuracy_score(validation["room_type"], classification)
    
print("Best  ACC : %.2f" % accu.max(), ", with k = ", accu.argmax() + 1)

Best  ACC : 0.84 , with k =  1

# Classification SVM

In [10]:
from sklearn import svm

In [11]:
SVM = svm.SVC().fit(train[["price","availability_365"]], train["room_type"])

In [12]:
classification = SVM.predict(validation[["price", "availability_365"]])
accuracy = accuracy_score(validation["room_type"], classification)
# MAE = mean_absolute_error(validation["room_type"], classification)
# MSE = mean_squared_error(validation["room_type"], classification)
# F1  = f1_score(validation["room_type"], classification, average='weighted') 
# cnf_matrix = confusion_matrix(validation["room_type"], classification, labels=[0,1])


print(" ACC : %.2f" % accuracy)
# print(" MAE : %.2f" % MAE)
# print(" MSE : %.2f" % MSE)
# print(" F1  : %.2f" % F1)
# print(classification_report(validation["room_type"], classification))
# print(cnf_matrix)

 ACC : 0.82